{% extends "public/layout.twig" %}

{% block content %}

    <div class="container-fluid">
        <div class="row" style="color: #fff !important;">
            <div class="col-md-5">
                <h3>Working on this. Will let you know shortly.</h3>
                <a href="{{ path_for('landing') }}" class="btn btn-success btn-lg btn-block mt-5">Home</a>
            </div>
        </div>
    </div>

{% endblock %}