{% extends "public/layout.twig" %}

{% block content %}

    <div class="overlay"></div>
    <div class="text">
        <img src="{{ base_url() }}/assets/logo-light.png" class="img-fluid" style="width: 400px;">
        {# <h6 class="mt-5">Powering Ethiopia's Esports Revolution</h6> #}
        <h6></h6> 
        <a href="{{ path_for('register') }}" class="mt-5">Register</a>
        <a href="{{ path_for('contribute') }}" class="mt-5">Contribute</a>
    </div>
    <ul class="social">
        <li><a href="#"><i class="fa-brands fa-youtube fa-3x" style="color: #000000;"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram fa-3x" style="color: #000000;"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-tiktok fa-3x" style="color: #000000;"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linkedin fa-3x" style="color: #000000;"></i></a></li>
    </ul>

{% endblock %}