{% extends "public/layout.twig" %}

{% block content %}

    <div class="container-fluid">
        <div class="row" style="color: #fff !important;">
            <div class="col-md-5">
                <h3 style="">CEO</h3>
                <h6>ElCapitain | Abyssinia Gamer</h6>
                <br />
                <br />
                <h3 style="">COO</h3>
                <h6>Petros Mulugeta</h6>
            </div>
        </div>
    </div>

{% endblock %}